fsm(fsm) ::= " <fsm.statedecl : { i | <statedecl(i)> }> "
statedecl(statedecl) ::= " <statedecl.initial> state <statedecl.stateid> { <statedecl.transition : { i | <transition(i)> }> }"
transition(transition) ::= " <transition.event> <if(transition.action)>/ <transition.action> <endif><if(transition.stateid)>-> <transition.stateid> <endif>;"
stateid(stateid) ::= " <stateid.ID> "
event(event) ::= " <event.ID> "
action(action) ::= " <action.ID> "
